<div class="footerForm">
	<div class="uk-container">
		<div class="uk-child-width-1-2@s" data-uk-grid>
			<div class="footerFormText">
				<div class="footerFormTitle">Будем <br>на связи</div>
				<p>Отправьте нам сообщение с вашим вопросом, <br>наши специалисты свяжутся с вами</p>
			</div>
			<div>
				<form action="#" id="footerFormForm">
					<input type="text" name="name" placeholder="Ваше имя">
					<input type="text" name="email" placeholder="Ваш E-mail">
					<input type="text" name="phone" placeholder="Ваш телефон" class="phoneInput">
					<textarea name="msg" placeholder="Сообщение"></textarea>
					<div data-uk-grid class="uk-flex-nowrap" id="footerFormPolicy">
						<div>
							<label><input class="uk-checkbox" type="checkbox" checked="" name="policy"> Согласие на <a href="/policy/">обработку персональных данных</a></label>
						</div>
						<div>
							<button class="transWhiteBtn" type="submit">Отправить</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>