<div class="mainAboutWrapper">
    <div class="position-relative">
        <div class="uk-flex-right uk-flex-middle uk-margin-remove" uk-grid>
            <div class="uk-width-1-2@m uk-padding-remove position-relative">
                    <picture>
                        <source srcset="/img/mainAbout.webp" type="image/webp">
                        <img data-src="/img/mainAbout.png" data-width="" data-height="" alt="" uk-img class="uk-width-1-1">
                    </picture>
            </div>
        </div>
        <div class="mainAboutText uk-height-1-1">
            <div class="uk-container uk-height-1-1 uk-flex-middle uk-flex">
                <div class="uk-width-1-2@m pr-20">
                    <div class="years">6 лет +</div>
                    <p>ищем, находим и реализуем успешные стратегии для наших клиентов</p>
                    <div class="years">718 +</div>
                    <p>реализовано эффективных решений для бизнеса: развитие новых направлений, расширения географии услуг, ребрендинг и позиционирование на рынке</p>
                    <div class="years">2 года +</div>
                    <p>минимальный срок работы с клиентом: с нами работают на долгосрочной основе, доверяя стратегическое планирование своего бизнеса</p>
                </div>
            </div>
        </div>
    </div>
</div>