<div class="uk-child-width-1-2@m" data-uk-grid>
	<div class="uk-flex uk-flex-column uk-flex-between uk-flex-top" data-uk-grid data-uk-scrollspy="cls: uk-animation-slide-left; target: .litera; delay: 300">
		<div class="litera" after="Цель"><span>T</span>arget.</div>
		<div class="litera" after="Планирование"><span>P</span>lanning.</div>
		<div class="litera" after="Результат"><span>R</span>esult.</div>
	</div>
	<div>
		<h2 class="bgTitle mt-0">Наше решение</h2>
		<p>Основа разработанного нами решения – полноценное маркетинговое изучение  сайта, целевой аудитории, каналов продаж и рынка в целом для того, чтобы сформировать полную картину видимости и понимания того, что необходимо делать, чтобы Ваш бизнес развивался, рекламная кампания окупалась и приносила существенный финансовый рост, а Вы были в курсе всех тонкостей работы в огромном пространстве интернет-маркетинга.</p>
	</div>
</div>