<div class="uk-child-width-1-1 uk-child-width-1-3@s uk-grid-collapse portfolioGrid" data-uk-grid data-uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100">
	<div class="uk-width-2-3@s">
		<div class="portfolioItem uk-inline">
			<picture>
				<source media="(max-width: 640px)" srcset="/img/portfolio/hbtechMobile.webp" type="image/webp">
				<source media="(max-width: 640px)" srcset="/img/portfolio/hbtechMobile.jpg">
				<source srcset="/img/portfolio/hbtech.webp" type="image/webp">
				<img data-src="/img/portfolio/hbtech.jpg" alt="" data-width="" data-height="" data-uk-img>
			</picture>
			<span class="uk-overlay uk-light uk-position-bottom-center uk-text-center portfolioTitle">
				Сайт строительства домов <br>hbtech
			</span>
			<div class="uk-overlay-primary uk-position-cover portfolioHover">
				<div class="uk-position-center">
					<div class="portfolioTitle">Сайт строительства домов</div>
					<div class="siteUrl">hbtech.ru</div>
					<p>Редизайн и продвижение сайта по строительству домов из пеноблоков в Москве</p>
					<a href="/hbtech.html" class="transWhiteBtn withArrow">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="portfolioItem uk-inline">
			<picture>
				<source media="(max-width: 640px)" srcset="/img/portfolio/diamondtechMobile.webp" type="image/webp">
				<source media="(max-width: 640px)" srcset="/img/portfolio/diamondtechMobile.jpg">
				<source srcset="/img/portfolio/diamondtech.webp" type="image/webp">
				<img data-src="/img/portfolio/diamondtech.jpg" alt="" data-width="" data-height="" data-uk-img>
			</picture>
			<span class="uk-overlay uk-light uk-position-bottom-center uk-text-center portfolioTitle">
				Сайт услуг по алмазной резке <br>и бурению
			</span>
			<div class="uk-overlay-primary uk-position-cover portfolioHover">
				<div class="uk-position-center">
					<div class="portfolioTitle">Сайт услуг по алмазной резке и бурению</div>
					<div class="siteUrl">diamondtech.ru</div>
					<p>Редизайн и продвижение сайта по строительству домов из пеноблоков в Москве</p>
					<a href="/diamondtech.html" class="transWhiteBtn withArrow">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="portfolioItem uk-inline">
			<picture>
				<source media="(max-width: 640px)" srcset="/img/portfolio/fancyMobile.webp" type="image/webp">
				<source media="(max-width: 640px)" srcset="/img/portfolio/fancyMobile.jpg">
				<source srcset="/img/portfolio/fancy.webp" type="image/webp">
				<img data-src="/img/portfolio/fancy.jpg" alt="" data-width="" data-height="" data-uk-img>
			</picture>
			<span class="uk-overlay uk-light uk-position-bottom-center uk-text-center portfolioTitle">
				Сайт продажи <br>напольных покрытий
			</span>
			<div class="uk-overlay-primary uk-position-cover portfolioHover">
				<div class="uk-position-center">
					<div class="portfolioTitle">Сайт продажи напольных покрытий</div>
					<div class="siteUrl">fancy-floor.ru</div>
					<p>Редизайн и продвижение сайта по строительству домов из пеноблоков в Москве</p>
					<a href="/fancy.html" class="transWhiteBtn withArrow">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="portfolioItem uk-inline">
			<picture>
				<source media="(max-width: 640px)" srcset="/img/portfolio/melangeMobile.webp" type="image/webp">
				<source media="(max-width: 640px)" srcset="/img/portfolio/melangeMobile.jpg">
				<source srcset="/img/portfolio/melange.webp" type="image/webp">
				<img data-src="/img/portfolio/melange.jpg" alt="" data-width="" data-height="" data-uk-img>
			</picture>
			<span class="uk-overlay uk-light uk-position-bottom-center uk-text-center portfolioTitle">
				Сайт одежды для дома <br>melange
			</span>
			<div class="uk-overlay-primary uk-position-cover portfolioHover">
				<div class="uk-position-center">
					<div class="portfolioTitle">Сайт одежды для дома melange</div>
					<div class="siteUrl">melange.ru</div>
					<p>Редизайн и продвижение сайта по строительству домов из пеноблоков в Москве</p>
					<a href="/melange.html" class="transWhiteBtn withArrow">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="portfolioItem uk-inline">
			<picture>
				<source media="(max-width: 640px)" srcset="/img/portfolio/keyhotelMobile.webp" type="image/webp">
				<source media="(max-width: 640px)" srcset="/img/portfolio/keyhotelMobile.jpg">
				<source srcset="/img/portfolio/keyhotel.webp" type="image/webp">
				<img data-src="/img/portfolio/keyhotel.jpg" alt="" data-width="" data-height="" data-uk-img>
			</picture>
			<span class="uk-overlay uk-light uk-position-bottom-center uk-text-center portfolioTitle">
				Сайт гостиницы <br>KEY HOTEL
			</span>
			<div class="uk-overlay-primary uk-position-cover portfolioHover">
				<div class="uk-position-center">
					<div class="portfolioTitle">Сайт гостиницы KEY HOTEL</div>
					<div class="siteUrl">key-hotel.ru</div>
					<p>Редизайн и продвижение сайта по строительству домов из пеноблоков в Москве</p>
					<a href="/keyhotel.html" class="transWhiteBtn withArrow">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="portfolioItem uk-inline">
			<picture>
				<source media="(max-width: 640px)" srcset="/img/portfolio/citadelMobile.webp" type="image/webp">
				<source media="(max-width: 640px)" srcset="/img/portfolio/citadelMobile.jpg">
				<source srcset="/img/portfolio/citadel.webp" type="image/webp">
				<img data-src="/img/portfolio/citadel.jpg" alt="" data-width="" data-height="" data-uk-img>
			</picture>
			<span class="uk-overlay uk-light uk-position-bottom-center uk-text-center portfolioTitle">
				 Парк-отель и культурно-досуговый <br>комплекс
			</span>
			<div class="uk-overlay-primary uk-position-cover portfolioHover">
				<div class="uk-position-center">
					<div class="portfolioTitle">Парк-отель и культурно-досуговый комплекс</div>
					<div class="siteUrl">citadelpark.ru</div>
					<p>Редизайн и продвижение сайта по строительству домов из пеноблоков в Москве</p>
					<a href="/citadel.html" class="transWhiteBtn withArrow">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="portfolioItem uk-inline">
			<picture>
				<source media="(max-width: 640px)" srcset="/img/portfolio/dom-betonMobile.webp" type="image/webp">
				<source media="(max-width: 640px)" srcset="/img/portfolio/dom-betonMobile.jpg">
				<source srcset="/img/portfolio/dom-beton.webp" type="image/webp">
				<img data-src="/img/portfolio/dom-beton.jpg" alt="" data-width="" data-height="" data-uk-img>
			</picture>
			<span class="uk-overlay uk-light uk-position-bottom-center uk-text-center portfolioTitle">
				 Строительство домов <br>из газосиликатных <br>и керамических блоков
			</span>
			<div class="uk-overlay-primary uk-position-cover portfolioHover">
				<div class="uk-position-center">
					<div class="portfolioTitle">Строительство домов из газосиликатных и керамических блоков</div>
					<div class="siteUrl">volkshaus.ru</div>
					<p>Редизайн и продвижение сайта по строительству домов из пеноблоков в Москве</p>
					<a href="/volkhause.html" class="transWhiteBtn withArrow">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="portfolioItem uk-inline">
			<picture>
				<source media="(max-width: 640px)" srcset="/img/portfolio/iconostasMobile.webp" type="image/webp">
				<source media="(max-width: 640px)" srcset="/img/portfolio/iconostasMobile.jpg">
				<source srcset="/img/portfolio/iconostas.webp" type="image/webp">
				<img data-src="/img/portfolio/iconostas.jpg" alt="" data-width="" data-height="" data-uk-img>
			</picture>
			<span class="uk-overlay uk-light uk-position-bottom-center uk-text-center portfolioTitle">
				Сайт изготовления церковной <br>утвари на заказ
			</span>
			<div class="uk-overlay-primary uk-position-cover portfolioHover">
				<div class="uk-position-center">
					<div class="portfolioTitle">Сайт изготовления церковной утвари на заказ</div>
					<div class="siteUrl">iconostas.ru</div>
					<p>Редизайн и продвижение сайта по строительству домов из пеноблоков в Москве</p>
					<a href="/iconostas.html" class="transWhiteBtn withArrow">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
</div>