<div class="mainAboutWrapper mt-60">
    <div class="position-relative">
        <div class="uk-flex-middle uk-margin-remove" uk-grid>
            <div class="uk-width-1-2@m uk-padding-remove position-relative">
                    <picture>
                        <source srcset="/img/service/detail/start.webp" type="image/webp">
                        <img data-src="/img/service/detail/start.png" data-width="" data-height="" alt="" uk-img class="uk-width-1-1">
                    </picture>
            </div>
        </div>
        <div class="mainAboutText uk-height-1-1">
            <div class="uk-container uk-height-1-1 uk-flex uk-flex-middle uk-flex-right">
                <div class="uk-width-1-2@m pl-100">
                    <h2 class="mb-60">У нас найдется <br>решение для вас! <br>Начнем?</h2>
                    <a href="#callMe" class="blueBtn modalFormTrigger" data-theme="Target. Planning. Result.: Заказать исследование сайта" data-target="#callMe">Заказать исследование сайта</a>
                </div>
            </div>
        </div>
    </div>
</div>