<div class="support">
    <div class="uk-container">
        <div class="uk-child-width-1-2@m uk-flex-middle" data-uk-grid>
            <div>
                <div class="h2">Поддержка</div>
                <ul class="listLine">
                    <li>Ваш проект курирует персональный менеджер</li>
                    <li>Предоставляем услуги копирайтинга и контент-менеджмента</li>
                    <li>Стабильная техническая поддержка</li>
                </ul>
                <a href="#callMe" class="blueBtn modalFormTrigger" data-theme="Target. Planning. Result.: Хочу консультацию менеджера" data-target="#callMe">Хочу консультацию менеджера</a>
            </div>
            <div class="uk-visible@m">
                <picture>
                    <source srcset="/img/service/detail/support.webp" type="image/webp">
                    <img data-src="/img/service/detail/support.jpg" alt="" data-uk-img>
                </picture>
            </div>
        </div>
    </div>
</div>