<div class="uk-navbar-right">
    <div class="uk-navbar-item uk-margin-large-right uk-visible@s">
        <div class="headerPhoneWrap">
            <a href="tel:+74956643579">+7 (495) 664-35-79</a>
            <span class="callMeHeader modalFormTrigger" data-theme="Заказать звонок" data-target="#callMe">Заказать звонок</span>
        </div>
    </div>
    <div class="uk-navbar-item sidebarToggle">
        <button data-uk-toggle="target: #sidebarMenu; animation: uk-animation-slide-top-small" type="button" class="sidebarBtn">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</div>